.hero {
  height: calc(100vh - 80px);
  width: 100%;
  align-items: center;
}

.presentation {
}

.ill {
  align-items: center;
}

.illu {
  min-width: 31.75rem;
  min-height: 32.1875rem;
}

.section {
  height: 60vh;
  max-width: 80vw;
}

.sectionHeading {
  border-bottom: 4px dashed var(--color-secondary);
}

#overlay {
  background-color: rgba(38, 197, 157, 0.14);
  backdrop-filter: blur(5px);
  z-index: 50;
  transition: 0.5s ease all;
}

#overlay:hover {
  opacity: 0;
}

.picture {
  border: 4px dashed var(--color-primary);
  transition: 0.5s cubic-bezier(0.01, 0.91, 0.32, 1.28);
}

.picture:hover {
  transform: rotate(0.03turn) translatez(-3px) scale(1.05);
}

.button {
  transition: 0.5s ease-in-out;
}

.button:hover {
  transform: translatey(2px);
}

h1::selection {
  background: var(--color-primary);
  color: white;
}

h2::selection {
  background: var(--color-primary);
  color: white;
}

h3::selection {
  background: var(--color-primary);
  color: white;
}

h4::selection {
  background: var(--color-primary);
  color: white;
}

h5::selection {
  background: var(--color-primary);
  color: white;
}

h6::selection {
  background: var(--color-primary);
  color: white;
}

p::selection {
  background: var(--color-secondary);
  color: var(--color-primary);
}

a::selection {
  background: var(--color-secondary);
  color: var(--color-primary);
}

li::selection {
  background: var(--color-secondary);
}

.lineChildren {
  transform: translate(500px, 0);
  opacity: 0;
}

.icon {
  transition: 0.5s ease all;
}

.icon:hover {
  transform: translatey(-2px);
}

.parent {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 2 / 1 / 4 / 3;
}
.div2 {
  grid-area: 1 / 3 / 3 / 5;
}
.div3 {
  grid-area: 3 / 3 / 5 / 5;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  }

.tech-items {
  border: 4px dashed var(--color-primary);
}

.description {
  bottom: 0;  
  left: 0;  
}

@media (max-width: 768px) {
  .section {
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 0.8rem;
  }

  ul {
    font-size: 0.8rem;
  }

  .tech-grid {   
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 1rem;
    }

  * p {
    width: auto;
  }

  .picture {
    height: auto;
    max-width: auto;
  }
}


